* {
    font-family: Brandon Regular;
}

.text-nav {
    color: #8a0b0b;
    font-size: 1.8rem;
    font-family: NexaBold;
}

.size-nav {
    height: 90px;
    background-color: #ebebeb;
}

.bg-light {
    background-color: #e7e7e7 !important;
}

.system-title {
    color: #8a0b0b;
    font-size: 1.2rem;
    margin-left: 10%;
    font-weight: bolder;
}
