<div class="container search">
    <div class="row ">
        <div class="col-12">






            <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingrese el producto a buscar...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Buscar Producto</button>
                </div>
            </div>
            <p class="trash">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum culpa quasi soluta neque, eos ut magni corporis vel iusto. Provident ipsum mollitia, voluptate iste sed beatae tempora dolor numquam earum!</p>




        </div>
    </div>
