<div class="container search">
    <div class="row mt-5">
        <div class="col-12">






            <div class="input-group mb-5">
                <input type="text" class="form-control" placeholder="Ingrese el producto a buscar...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Buscar Producto</button>
                </div>
            </div>





            <table class="table table-striped">
                <thead>
                    <tr>


                    </tr>
                </thead>
                <tbody>

                    <tr class="table-secondary">
                        <th scope="row">Capítulo</th>
                        <td><strong>74 </strong></td>
                        <td>Cobre y manufacturas de cobre</td>

                    </tr>



                    <tr class="table-success">
                        <th scope="row">Partida</th>
                        <td>74<strong>07</strong></td>
                        <td> Barras y perfiles, de cobre</td>

                    </tr>


                    <tr class="table-warning">
                        <th scope="row">Subpartida</th>
                        <td>7407.<strong>10</strong> </td>
                        <td>de Cobre refinado</td>

                    </tr>


                    <tr class="table-danger">
                        <th scope="row">Fracción</th>
                        <td>7407.10.<strong>01</strong></td>
                        <td> Barras</td>

                    </tr>
                </tbody>
            </table>
        </div>




    </div>
</div>
