.users {
    width: 100%;
}

.actions {
    margin-right: 18%;
    margin-left: 6%;
    width: 35px;
}

.bg-guinda {
    background-color: #3c92ca;
}

.add {
    width: 20px;
}

.pointer {
    cursor: pointer;
}
