<div class="container-fluid users">

    <div class="row justify-content-end mt-5 ml-5 mb-2">
        <div class="col-3">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#adduser"><i class="fa fa-user-plus"></i>  Agregar Usuario</button>
        </div>

    </div>
    <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="adduser" aria-hidden="true" #adduser>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addusertittle">Agregar usuario</h5>
                </div>
                <div class="modal-body">
                    <form [formGroup]="userForm" id="ngForm" novalidate="">
                        <div class="form-group">
                            <label for="names">Nombres</label>
                            <input type="text" class="form-control" id="names" formControlName="name" placeholder="Nombres" [ngClass]="{'is-invalid': userForm.controls['name'].hasError('required')&&userForm.controls['name'].touched}">
                            <div class="invalid-feedback" *ngIf="userForm.controls['name'].hasError('required')">
                                Este campo es requerido
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surname">Apellidos</label>
                            <input type="text" class="form-control" id="surname" placeholder="Apellidos" formControlName="surname" [ngClass]="{'is-invalid': userForm.controls['surname'].hasError('required')&&userForm.controls['surname'].touched}">
                            <div class="invalid-feedback" *ngIf="userForm.controls['surname'].hasError('required')">
                                Este campo es requerido
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email" [ngClass]="{'is-invalid': (userForm.controls['email'].hasError('required')||userForm.controls['email'].hasError('pattern'))&&userForm.controls['email'].touched}">
                            <div class="invalid-feedback" *ngIf="userForm.controls['email'].hasError('required')">
                                Este campo es requerido
                            </div>
                            <div class="invalid-feedback" *ngIf="userForm.controls['email'].hasError('pattern')">
                                No cumple con el formato de un correo electrónico
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [ngClass]="{'is-invalid': userForm.controls['password'].hasError('required')&&userForm.controls['password'].touched}">
                            <div class="invalid-feedback" *ngIf="userForm.controls['password'].hasError('required')">
                                Este campo es requerido
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="register()" [disabled]="userForm.invalid">Guardar usuario</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
<!--<div class="table-responsive">-->
        <table class="table table-hover">
            <thead class="bg-guinda text-white">
                <tr>

                    <th scope="col ">Nombre Completo</th>
                    <th scope="col ">Correo</th>
                    <th scope="col ">Rol</th>
                    <th scope="col ">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of Users">
                    <td>{{ user.names }} {{ user.surname }} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_type }}</td>
                    <td>
                        <div class=" row justify-content-center ">
                            <div class="d-inline-block actions "></div>
                            <div class="d-inline-block actions ">
                              <button type="button" class="btn btn-outline-danger" title="Borrar Usuario" (click)="deleteUser(user.email)"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
<!--</div>-->
    </div>
</div>
