<div class="container-fluid mt-5 mb-5">
  <app-loading *ngIf="loading"></app-loading>

          <div class="container"><!--Selects-->
            <div class="row">

              <div class="col-xs-12 col-md-5 col-lg-5">
                          <app-select-chapter (change)="changeChapter($event.target.value)"></app-select-chapter>
              </div>

              <div class="col-xs-12 col-md-3 col-lg-3">

                <app-select-shipment [shipments]="shipments" (change)="changeShipment($event.target.value)"></app-select-shipment>

                <app-select-subshipment [subshipments]="subshipments" (change)="changesubShipment($event.target.value)"></app-select-subshipment>

                <app-select-section [sections]="sections" (change)="changeSection($event.target.value)"></app-select-section>



              </div>

              <div class="col-xs-12 col-md-4 col-lg-4">

                <app-select-year (change)="changeYear($event.target.value)"></app-select-year>

                <app-select-month (valueChange)="changeMonth($event)"></app-select-month>

                <app-select-countrie (change)="changeCountry($event.target.value)"></app-select-countrie>

              </div>

            </div>


            <div class="row">
              <div class="col-xs-12 col-md-3 col-lg-3">
<!--                <app-select-shipment [shipments]="shipments" (change)="changeShipment($event.target.value)"></app-select-shipment>-->
              </div>

              <div class="col-xs-12 col-md-4 col-lg-4">
<!--                <app-select-subshipment [subshipments]="subshipments" (change)="changesubShipment($event.target.value)"></app-select-subshipment>-->
              </div>

              <div class="col-xs-12 col-md-4 col-lg-4">
<!--                <app-select-section [sections]="sections" (change)="changeSection($event.target.value)"></app-select-section>-->
              </div>

              <div class="col-1 mt-4">
                <button type="button" class="btn btn-primary mt-1" (click)="transacciones()">Buscar</button>
              </div>





<!--            </div>-->

          </div><!--Selects-->



          <!--Gráficas-->


<!--                <div class="row">-->
<!--                      <div style="text-align:center">-->

<!--                       -->
<!--&lt;!&ndash;                          <canvas id="barChart"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;                          <canvas id="pieChart"></canvas>&ndash;&gt;-->

<!--                      </div>-->

<!--                  </div>-->


            <!--Tablas de Transacciones-->
            <div class="container-fluid mt-5 ">
                          <div class="text-center mt-5">
                              <h1 class="title" *ngIf="transactions.length>0">Exportaciones</h1>
                          </div>
              <app-not-exists-results *ngIf="datosExporta === 0 && transactions.length > 0"></app-not-exists-results>
                          <h3 class="mt-5 mb-2" *ngIf="datosExporta>0 && transactions.length>0">Valor en dólares</h3>

                          <br>
              <div class="row">
                          <div class="table-responsive" *ngIf="datosExporta>0 && transactions.length>0">
                              <table class=" table table-hover">
                                  <thead class=" table-primary text-white bg-primary">
                                      <tr>
                                          <th scope="col">País</th>
                                          <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                              <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                                          </ng-container>
                                        <th scope="col">Total x País</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let item of transactions">
                                          <th *ngIf="countryhastransaction(item, 2)" scope="row">{{ item.country }}</th>
                                          <td *ngFor="let it of item.exports">{{it.price | currency }}</td>
                                      </tr>
                                      <tr class="container-fluid">
                                          <th scope="row" class="text-white bg-primary">Total Mensual</th>
                                          <ng-container *ngFor="let tot of totalExporta[0]; let i = index">
                                              <td class="text-white bg-primary" *ngIf="monthArray[1][i]">{{ tot | currency }}</td>
                                          </ng-container>
                                      </tr>
                                      <tr>
                                        <th scope="row" class="text-white bg-primary">Total</th>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
              </div>

              <div class="row">
                <div class="text-center">
                  <canvas id="graficaExportaDolares" class="graficas" width="1200" height="600"></canvas>
                </div>
              </div>


            </div>


            <div class="container-fluid mb-5">
                         <br><br>
                          <h3 class="mt-5 mb-2" *ngIf="datosExporta>0 && transactions.length>0">Volumen</h3>
                          <br>
              <div class="row">
                <div class="table-responsive" *ngIf=" datosExporta>0 && transactions.length>0">
                  <table class=" table table-hover">
                                        <thead class=" table-primary text-white bg-primary">
                                            <tr>
                                                <th scope="col">País</th>
                                                <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                                    <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                                                </ng-container>
                                              <th scope="col">Total x País</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of transactions">
                                                <th *ngIf="countryhastransaction(item, 2)" scope="row">{{ item.country }}</th>
                                                <td *ngFor="let it of item.exports" class="nw">{{it.weight | Volumen:'.2' }}</td>
                                            </tr>
                                            <tr class="container-fluid">
                                                <th scope="row" class="text-white bg-primary">Total Mensual</th>
                                                <ng-container *ngFor="let tot of totalExporta[1]; let i = index">
                                                    <td class="text-white bg-primary nw" *ngIf="monthArray[1][i]">{{ tot | Volumen:'.2' }}</td>
                                                </ng-container>
                                            </tr>
                                            <tr>
                                              <th scope="row" class="text-white bg-primary">Total</th>
                                            </tr>
                                        </tbody>
                                    </table>
                </div>
              </div>


              <div class="row">
                <div class="text-center">
                  <canvas id="graficaExportaVolumen" class="graficas" width="1200" height="600"></canvas>
                </div>
              </div>

            </div>


            <!--Importaciones-->
              <div class="container-fluid mt-5">
                            <div class="text-center mt-5" *ngIf="transactions.length>0">
                                <h1 class="title">Importaciones</h1>
                            </div>
                <app-not-exists-results *ngIf="datosImporta===0 && transactions.length>0"></app-not-exists-results>

                            <h3 class="mt-5 mb-2" *ngIf="datosImporta>0 && transactions.length>0">Valor en dólares</h3>

                            <br>
                <div class="row">
                  <div class="table-responsive"  *ngIf="datosImporta > 0 && transactions.length > 0">
                                    <table class=" table table-hover">
                                        <thead class=" table-primary text-white bg-primary">
                                            <tr>
                                                <th scope="col">País</th>
                                                <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                                    <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                                                </ng-container>
                                              <th scope="col">Total x País</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of transactions">
                                                <th *ngIf="countryhastransaction(item, 1)" scope="row">{{ item.country }}</th>
                                                <td *ngFor="let it of item.imports">{{it.price | currency }}</td>
                                            </tr>
                                            <tr class="container-fluid">
                                                <th scope="row" class="text-white bg-primary">Total Mensual</th>
                                                <ng-container *ngFor="let tot of totalImporta[0]; let i = index">
                                                    <td class="text-white bg-primary" *ngIf="monthArray[1][i]">{{ tot | currency }}</td>
                                                </ng-container>
                                            </tr>
                                            <tr>
                                              <th scope="row" class="text-white bg-primary">Total</th>
                                            </tr>

                                        </tbody>
                                    </table>

                  </div>
                </div>

                <div class="row">
                  <div class="text-center">
                    <canvas id="graficaImportaDolares" class="graficas" width="1200" height="600"></canvas>
                  </div>
                </div>

              </div>



              <div class="container-fluid mb-5">
                            <br><br>
                            <h3 *ngIf=" datosImporta>0 && transactions.length>0">Volumen</h3>
                            <br>
                <div class="row">
                  <div class="table-responsive" *ngIf="datosImporta > 0 && transactions.length > 0">
                                    <table class=" table table-hover">
                                        <thead class=" table-primary text-white bg-primary">
                                            <tr>
                                                <th scope="col">País</th>
                                                <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                                    <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                                                </ng-container>
                                              <th scope="col">Total x País</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of transactions">
                                                <th *ngIf="countryhastransaction(item, 1)" scope="row">{{ item.country }}</th>
                                                <td *ngFor="let it of item.imports" class="nw">{{it.weight | Volumen:'.2' }}</td>
                                            </tr>
                                            <tr class="container-fluid">
                                                <th scope="row" class="text-white bg-primary">Total Mensual</th>
                                                <ng-container *ngFor="let tot of totalImporta[1]; let i = index">
                                                    <td class="text-white bg-primary" *ngIf="monthArray[1][i]">{{ tot | Volumen:'.2' }}</td>
                                                </ng-container>
                                            </tr>
                                            <tr>
                                              <th scope="row" class="text-white bg-primary">Total</th>
                                            </tr>
                                        </tbody>
                                    </table>

                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <canvas id="graficaImportaVolumen" class="graficas" width="1200" height="600"></canvas>
                  </div>
                </div>

              </div>





</div>

