<div id="estadisticas" name="estadisticas" class="container-fluid mt-5 estadisticas">


    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6 ">

            <div class=" form-group">
                <label for="exampleFormControlSelect2">Seleccione un Capítulo:</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>72 - Fundicion, hierro y acero</option>
              <option>74 - Cobre y manufacturas de cobre</option>
              <option>76 -  Aluminio y manufacturas de aluminio</option>

            </select>
            </div>

        </div>

        <div class="col-3"></div>




    </div>



    <div class="row">
        <div class="col-1"></div>

        <div class="col-2  ">
            <div class="form-group ">
                <button type="button" class="btn btn-dark">Aranceles y
            normatividad</button>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group row ml-5 ">
                <label class="col-form-label">Mes:</label>
                <div class="col-md-8">
                    <select class="form-control custom-select" id="exampleFormControlSelect1">
<option selected>Seleccione un Mes</option>
<option>Todos</option>
<option>Enero</option>
<option>Febrero</option>
<option>Marzo</option>
</select>
                </div>
            </div>

        </div>


        <div class="col-4 ">
            <div class="form-group row ml-5 ">
                <label class="col-form-label">Año:</label>
                <div class="col-md-8">
                    <select class="form-control custom-select" id="exampleFormControlSelect1">
            <option selected>Seleccione un Año</option>
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
          </select>
                </div>
            </div>
        </div>
        <div class="col-1"></div>


    </div>




    <div class="row">
        <div class="col-3">

            <div class="form-group row ">
                <label class="col-2 col-form-label col-form-label-sm">Partida: </label>
                <div class="col-10">
                    <select class="form-control custom-select" id="exampleFormControlSelect1">
                <option selected>Seleccione una Partida</option>
                <option>0101</option>
                <option>0102</option>
                <option>0103</option>
                <option>0104</option>
                <option>0105</option>
              </select>
                </div>

            </div>
        </div>



        <div class="col-4 ">

            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm ">SubPartida: </label>
                <div class="col-9">
                    <select class="form-control custom-select" id="exampleFormControlSelect1">
                <option selected>Seleccione una SubPartida</option>
                <option>0101</option>
                <option>0102</option>
                <option>0103</option>
                <option>0104</option>
                <option>0105</option>
              </select>
                </div>
            </div>

        </div>




        <div class="col-4">

            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm ">Fracción:  </label>
                <div class="col-9">
                    <select class="form-control custom-select" id="exampleFormControlSelect1">
                <option selected>Seleccione una Fracción</option>
                <option>0101</option>
                <option>0102</option>
                <option>0103</option>
                <option>0104</option>
                <option>0105</option>
              </select>
                </div>
            </div>


        </div>




        <div class="col-1 ">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Buscar</button>
            </div>

        </div>



        <!--Impresión de tablras-->

        <div class="container">
            <br>
            <div class="text-center">
                <h1 class="title">Exportaciones</h1>
            </div>

            <br><br>
            <h3>Valor en dólares</h3>
            <br>
            <div class="row">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Enero</th>
                            <th scope="col">Febrero</th>
                            <th scope="col">Marzo</th>
                            <th scope="col">Abril</th>
                            <th scope="col">Mayo</th>
                            <th scope="col">Junio</th>
                            <th scope="col">Julio</th>
                            <th scope="col">Agosto</th>
                            <th scope="col">Septiembre</th>
                            <th scope="col"> Octubre</th>
                            <th scope="col"> Noviembre</th>
                            <th scope="col">Diciembre</th>






                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>


        <div class=" col-12 text-center">
            <img src="./assets/imgs/g1.PNG" width="450" height="450" class="img-fluid" alt="Responsive image" alt="">
        </div>




        <div class="container">
            <br><br>
            <h3>Volumén</h3>
            <br>
            <div class="row">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Enero</th>
                            <th scope="col">Febrero</th>
                            <th scope="col">Marzo</th>
                            <th scope="col">Abril</th>
                            <th scope="col">Mayo</th>
                            <th scope="col">Junio</th>
                            <th scope="col">Julio</th>
                            <th scope="col">Agosto</th>
                            <th scope="col">Septiembre</th>
                            <th scope="col"> Octubre</th>
                            <th scope="col"> Noviembre</th>
                            <th scope="col">Diciembre</th>






                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

        <div class=" col-12 text-center">
            <img src="./assets/imgs/g4.PNG" width="450" height="450" class="img-fluid" alt="Responsive image" alt="">
        </div>











        <div class="container">
            <br>
            <div class="text-center">
                <h1 class="title">Importaciones</h1>
            </div>

            <br><br>
            <h3>Valor en dólares</h3>
            <br>
            <div class="row">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Enero</th>
                            <th scope="col">Febrero</th>
                            <th scope="col">Marzo</th>
                            <th scope="col">Abril</th>
                            <th scope="col">Mayo</th>
                            <th scope="col">Junio</th>
                            <th scope="col">Julio</th>
                            <th scope="col">Agosto</th>
                            <th scope="col">Septiembre</th>
                            <th scope="col"> Octubre</th>
                            <th scope="col"> Noviembre</th>
                            <th scope="col">Diciembre</th>






                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>



        <div class=" col-12 text-center">
            <img src="./assets/imgs/g2.PNG" width="450" height="450" class="img-fluid" alt="Responsive image" alt="">
        </div>

        <div class="container">
            <br><br>
            <h3>Volumén</h3>
            <br>
            <div class="row">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Enero</th>
                            <th scope="col">Febrero</th>
                            <th scope="col">Marzo</th>
                            <th scope="col">Abril</th>
                            <th scope="col">Mayo</th>
                            <th scope="col">Junio</th>
                            <th scope="col">Julio</th>
                            <th scope="col">Agosto</th>
                            <th scope="col">Septiembre</th>
                            <th scope="col"> Octubre</th>
                            <th scope="col"> Noviembre</th>
                            <th scope="col">Diciembre</th>






                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

        <div class=" col-12 text-center">
            <img src="./assets/imgs/g3.PNG" width="450" height="450" class="img-fluid" alt="Responsive image" alt="">
        </div>





    </div>

    <br><br>

    <div class="row justify-content-end">
        <div class="col-4">
            <button type="button" class="btn btn-success">Generar Proyección</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary">Generar Reporte</button>
        </div>

    </div>
