.bg-primary {
    background-color: #3c92ca !important;
}

.nw {
    white-space: nowrap;
}

.title {
    color: #3c92ca;
}

.loadingCenter {
    text-align: center
}

.column {
    float: left;
    width: 50%;
}


/*.graficas{*/


/*  margin-left: 25%;*/


/*}*/