<div id="estadisticas" name="estadisticas" class="container-fluid mt-5 estadisticas">

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6 ">
            <app-select-chapter (change)="changeChapter($event.target.value)"></app-select-chapter>
        </div>
        <div class="col-1 ">
            <div class="form-group mt-5">
                <button type="button" class="btn btn-dark">Aranceles y
                    normatividad</button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>






    <div class="row">

        <div class="col-4">
            <app-select-countrie (change)="changeCountry($event.target.value)"></app-select-countrie>
        </div>


        <div class="col-4">
            <app-select-month (change)="changeMonth($event.target.options)"></app-select-month>

        </div>

        <div class="col-4">
            <app-select-year (change)="changeYear($event.target.value)"></app-select-year>
        </div>


    </div>




    <div class="row">
        <div class="col-3">

            <app-select-shipment [shipments]="shipments" (change)="changeShipment($event.target.value)"></app-select-shipment>
        </div>



        <div class="col-4 ">
            <app-select-subshipment [subshipments]="subshipments" (change)="changesubShipment($event.target.value)"></app-select-subshipment>
        </div>




        <div class="col-4">
            <app-select-section [sections]="sections" (change)="changeSection($event.target.value)"></app-select-section>
        </div>


        <div class="col-1 ">
            <div class="form-group">
                <button type="button" (click)="transacciones()" class="btn btn-primary">Buscar</button>
            </div>


        </div>


        <!--Gráficas-->

        <!--
              <div class="row">
                    <div style="text-align:center">
                        <h1>
                            Welcome to {{ title }}!
                        </h1>
                        <canvas id="lineChart"></canvas>
                        <canvas id="barChart"></canvas>
                        <canvas id="pieChart"></canvas>
    
                    </div>
    
                </div>-->


        <!--Impresión de tablas-->

        <div class="container-fluid">

            <div class="text-center mt-5">
                <h1 class="title">Exportaciones</h1>
            </div>

            <h3 class="mt-5 mb-2">Valor en dólares</h3>

            <br>

            <div class="">

                <table class=" table table-hover">
                    <thead class=" table-primary text-white bg-primary">
                        <tr>
                            <th scope="col">País</th>
                            <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of transactions">
                            <th *ngIf="countryhastransaction(item, 2)" scope="row">{{ item.country }}</th>
                            <td *ngFor="let it of item.exports">{{it.price | currency }}</td>
                        </tr>
                        <tr class="container-fluid">
                            <th scope="row" class="text-white bg-primary">Total</th>
                            <ng-container *ngFor="let tot of totalExporta[0]; let i = index">
                                <td class="text-white bg-primary" *ngIf="monthArray[1][i]">{{ tot | currency }}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>


        <div class=" col-12 text-center ">
            <img src="./assets/imgs/g1.PNG " width="450 " height="450 " class="img-fluid " alt="Responsive image " alt=" ">
        </div>




        <div class="container-fluid">
            <br><br>
            <h3 class="mt-5 mb-2">Volumen</h3>
            <br>
            <div class="">
                <table class=" table table-hover">
                    <thead class=" table-primary text-white bg-primary">
                        <tr>
                            <th scope="col">País</th>
                            <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of transactions">
                            <th *ngIf="countryhastransaction(item, 2)" scope="row">{{ item.country }}</th>
                            <td *ngFor="let it of item.exports" class="nw">{{it.weight | Volumen:'.2' }}</td>
                        </tr>
                        <tr class="container-fluid">
                            <th scope="row" class="text-white bg-primary">Total</th>
                            <ng-container *ngFor="let tot of totalExporta[1]; let i = index">
                                <td class="text-white bg-primary nw" *ngIf="monthArray[1][i]">{{ tot | Volumen:'.2' }}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class=" col-12 text-center ">
            <img src="./assets/imgs/g4.PNG " width="450 " height="450 " class="img-fluid " alt="Responsive image " alt=" ">
        </div>

        <div class="container-fluid">

            <div class="text-center mt-5">
                <h1 class="title">Importaciones</h1>
            </div>

            <h3 class="mt-5 mb-2">Valor en dólares</h3>

            <br>

            <div class="">

                <table class=" table table-hover">
                    <thead class=" table-primary text-white bg-primary">
                        <tr>
                            <th scope="col">País</th>
                            <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of transactions">
                            <th *ngIf="countryhastransaction(item, 1)" scope="row">{{ item.country }}</th>
                            <td *ngFor="let it of item.imports">{{it.price | currency }}</td>
                        </tr>
                        <tr class="container-fluid">
                            <th scope="row" class="text-white bg-primary">Total</th>
                            <ng-container *ngFor="let tot of totalImporta[0]; let i = index">
                                <td class="text-white bg-primary" *ngIf="monthArray[1][i]">{{ tot | currency }}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>



        <div class=" col-12 text-center ">
            <img src="./assets/imgs/g2.PNG " width="450 " height="450 " class="img-fluid " alt="Responsive image " alt=" ">
        </div>

        <div class="container-fluid">
            <br><br>
            <h3>Volumen</h3>
            <br>
            <div class="">
                <table class=" table table-hover">
                    <thead class=" table-primary text-white bg-primary">
                        <tr>
                            <th scope="col">País</th>
                            <ng-container *ngFor="let month of monthArray[0]; let i = index">
                                <th *ngIf="monthArray[1][i]" scope="col">{{ month }}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of transactions">
                            <th *ngIf="countryhastransaction(item, 1)" scope="row">{{ item.country }}</th>
                            <td *ngFor="let it of item.imports" class="nw">{{it.weight | Volumen:'.2' }}</td>
                        </tr>
                        <tr class="container-fluid">
                            <th scope="row" class="text-white bg-primary">Total</th>
                            <ng-container *ngFor="let tot of totalImporta[1]; let i = index">
                                <td class="text-white bg-primary" *ngIf="monthArray[1][i]">{{ tot | Volumen:'.2' }}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class=" col-12 text-center ">
            <img src="./assets/imgs/g3.PNG " width="450 " height="450 " class="img-fluid " alt="Responsive image " alt=" ">
        </div>





    </div>


    <br><br>

    <div class="row justify-content-end ">
        <div class="col-4 ">
            <button type="button " class="btn btn-success ">Generar Proyección</button>
        </div>
        <div class="col-4 ">
            <button type="button " (click)="showModal() " class="btn btn-primary ">Generar Reporte</button>
        </div>

    </div>

</div>