* {
  font-family: Brandon Regular;
}


label{
  margin-bottom: 0.1rem;
}
.multiselect-dropdown[_ngcontent-c15]{
  width: 109% !important;
  margin-left: -4% !important;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.multiselect-dropdown[_ngcontent-c15] .dropdown-btn[_ngcontent-c15]{
  width: 109% !important;
  margin-left: -4% !important;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
