<div class="container-fluid">
    <div class="row mt-5 mb-3">
        <div class="input-group mb-5">
            <input type="text" class="form-control" placeholder="Seleccione un archivo...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="file">Buscar</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mt-3 ml-5 mb-5">
        <div class="col-4">
            <button type="button" class="btn btn-outline-success btn-lg btn-block"><img src="./assets/imgs/actions/upload.svg " class="img-fluid upload" alt=" ">  Guardar </button>
        </div>
    </div>
