label {
    font-size: 1rem;
    padding-right: 0px;
    padding-left: 0px;
}

.estadisticas {
    margin-bottom: 10%;
}

.title {
    color: #3c92ca;
}

.mr-x {
    margin-left: -2.5rem !important;
}

.bg-primary {
    background-color: #3c92ca !important;
}

.nw {
    white-space: nowrap;
}
hr{
  border-top: 3px solid #3c92ca;
}
