<div id="estadisticas" name="estadisticas" class="container">
    <br>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">

            <div class=" form-group">
                <label for="exampleFormControlSelect2">Seleccione un Capítulo:</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

        </div>

        <div class="col-3"></div>




    </div>
    <div class="row">
        <div class="col-3 col-md-3">

            <div class="form-group">

                <select class="form-control custom-select" id="exampleFormControlSelect1">
                  <option selected>Seleccione una Partida</option>
                  <option>0101</option>
                  <option>0102</option>
                  <option>0103</option>
                  <option>0104</option>
                  <option>0105</option>
                </select>
            </div>

        </div>



        <div class="col-3 col-md-3">

            <div class="form-group">

                <select class="form-control custom-select" id="exampleFormControlSelect1">
                  <option selected>Seleccione una SubPartida</option>
                  <option>0101</option>
                  <option>0102</option>
                  <option>0103</option>
                  <option>0104</option>
                  <option>0105</option>
                </select>
            </div>

        </div>




        <div class="col-3 col-md-3">

            <div class="form-group">

                <select class="form-control custom-select" id="exampleFormControlSelect1">
                  <option selected>Seleccione una Fracción</option>
                  <option>0101</option>
                  <option>0102</option>
                  <option>0103</option>
                  <option>0104</option>
                  <option>0105</option>
                </select>
            </div>


        </div>




        <div class="col-3 col-md-3">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Buscar</button>
            </div>

        </div>


    </div>