<!--
<div class="container-fluid footer-back">

    <div class="row">
        <div class="col-3">
            <img src="./assets/imgs/hunab.png" class="img-fluid" width="300px" height="300px" alt="Responsive image">
        </div>
        <div class="col-9">

        </div>
    </div>
    <div class="row">
        <div class=" col-12 text-center">
            Developed by Hunab and Made in ESCOM
        </div>

    </div>

</div>
-->



<div class="container footer">
    <div class="row">
        <div class="col-4 ">
            <div class="text-center">
                <img src="./assets/imgs/sicat.png" height="300px" width="300px" class="img-fluid" alt="Responsive image">

            </div>
        </div>


        <div class="col-4">
            <div class="text-center title">
                <p class="title">Síguenos en:</p>
                <hr>
            </div>
            <div class=" row justify-content-center">
                <div class="d-inline-block redes">
                    <a href="https://www.facebook.com/HunabDev" target="_blank">
                        <img src="./assets/imgs/redes/facebook.svg" class="img-fluid " alt=""></a>
                </div>
                <div class="d-inline-block redes">
                    <a href="https://www.facebook.com/HunabDev" target="_blank">
                        <img src="./assets/imgs/redes/twitter.svg" class="img-fluid " alt=""></a>
                </div>

                <div class="d-inline-block redes ">
                    <a href="https://www.instagram.com/hunabdev" target="_blank">
                        <img src="./assets/imgs/redes/instagram.svg" class="img-fluid " alt=""></a>
                </div>

                <div class="d-inline-block redes ">
                    <a href=" https://api.whatsapp.com/send?phone=5540381975&text=Bienvenido%20a%20Hunab" target="_blank">
                        <img src="./assets/imgs/redes/whatsapp.svg" class="img-fluid " alt=""></a>
                </div>



            </div>

        </div>




        <div class="col-4">
            <div class="text-center title">
                <p class="title">Contáctanos</p>
                <hr>
            </div>

            <div class="text-center">
                <p>
                    <fa name="envelope"></fa> sicatmx@gmail.com</p>
            </div>

            <div class="text-center">
                <p>
                    <fa name="phone"></fa> Ciudad de México: +52 (55) 4038-1975</p>

            </div>
            <div class="text-center dir-mex">
                <br>
                <p>
                    <fa name="map-marker"></fa> Av. Juan de Dios Bátiz s/n esq. Av. Miguel Othón de Mendizabal. Col. Lindavista. Ciudad de México</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 rights">
            <p class="text-center"> Made in ESCOM © 2019 . Todos los derechos reservados</p>
            <p class="text-center">Developed by Hunab</p>

        </div>
        <div class="col-12 text-center">
            <img src="./assets/imgs/hunab.png" height="150px" width="150px" class="img-fluid" alt="Responsive image">

        </div>
    </div>
</div>
